In [3]:
import pandas as pd
from numpy import random as rd
import matplotlib.pyplot as plt

#### pandas.Series 구조

- 1차원(1D) 구조를 가지고 있음

In [8]:
# Series 구조로 생성하는 경우는 아주 드물다
df1 = pd.Series(['aaa', 'bbb', 'ccc', 'ddd'], name = "Name")
print(df1)
print(type(df1))

0    aaa
1    bbb
2    ccc
3    ddd
Name: Name, dtype: object
<class 'pandas.core.series.Series'>

In [12]:
df2 = pd.Series([13, 24, 31, 29], name = "Age")
print(pd.DataFrame(df2))
print()
print(df2)

   Age
0   13
1   24
2   31
3   29

0    13
1    24
2    31
3    29
Name: Age, dtype: int64

In [19]:
# 시리즈로 만들어진 데이터 하나로 합치기
# 단 데이터 프레임 구조라도 데이터 개수만 같으면 사용할 수 있다
# 두 개 이상의 데이터프레임 또는 시리즈 구조의 데이터를 병합할 때 사용
# 병합방법 : 행병합(행추가) -> axis = 0, 열병합(열추가) -> axis = 1


df0 = pd.concat([ df1, df2 ], axis = 1)
print(df0)
print(type(df0))

  Name  Age
0  aaa   13
1  bbb   24
2  ccc   31
3  ddd   29
<class 'pandas.core.frame.DataFrame'>

### pandas.DataFrame 구조

In [21]:
# pandas.DataFrame 생성 : 딕셔너리 구조 이용

df1 = pd.DataFrame({'Name' : ['aaa', 'bbb', 'ccc', 'ddd'],
                   'Age' : [33, 28, 45, 41],
                   'Sex' : ['male', 'female', 'male', 'female']})
df1

  Name  Age     Sex
0  aaa   33    male
1  bbb   28  female
2  ccc   45    male
3  ddd   41  female

In [29]:
# pandas.DataFrame 생성 : 리스트 구조 이용
# pandas.DataFrame([리스트 값], columns = [열이름 정의])


df1 = pd.DataFrame([['AAA', 33, 'male'], 
                   ['BBB', 28, 'female'], 
                   ['CCC', 45, 'male'], 
                   ['DDD', 41, 'female']], columns = ["Name" , 'Age', 'sex'])
print(df1)

  Name  Age     sex
0  AAA   33    male
1  BBB   28  female
2  CCC   45    male
3  DDD   41  female

In [31]:
# pandas.DataFrame 생성 : 리스트와 딕셔너리가 같이 있는 경우
#pandas.DataFrame( [ {딕셔너리1}, {딕셔너리2}, {딕셔너리3}, {딕셔너리4} )

df1 = pd.DataFrame( [{'Name' : 'aaa', 'Agee' : 33, 'sex' : 'male'},
                    {'Name' : 'bbb', 'Agee' : 28, 'sex' : 'female'},
                    {'Name' : 'ccc', 'Agee' : 45, 'sex' : 'male'},
                    {'Name' : 'ddd', 'Agee' : 41, 'sex' : 'female'},])
df1

  Name  Agee     sex
0  aaa    33    male
1  bbb    28  female
2  ccc    45    male
3  ddd    41  female

### 성적표.csv 파일을 이용한 데이터 추가/수정/삭제 등 관리

In [35]:
#csv 파일 가져오기 : pd.read_csv('디렉토리 경로 및 파일명' , encoding='형태에 맞춰서')
# encoding 옵션 : 기본 utf-8, 상황에 따라, cp949, ansi, utf-16
df1=pd.read_csv('./Data/성적표.csv', encoding = 'cp949')
print(df1)

    순번   이름         학과 남/여  학년  이론  실기
0    1  송윤재  환경디자인원예학과  여자   2 NaN NaN
1    2  강민형     사회복지학과  여자   3 NaN NaN
2    3  강예린  환경디자인원예학과  여자   3 NaN NaN
3    4  고보빈       경영학과  여자   4 NaN NaN
4    5  김다정     보건관리학과  여자   3 NaN NaN
5    6  김두언     상담심리학과  남자   2 NaN NaN
6    7  김민지       중국어과  여자   3 NaN NaN
7    8  김수현    화학생명과학과  여자   3 NaN NaN
8    9  김영서       중국어과  여자   4 NaN NaN
9   10  김예은     사회복지학과  여자   2 NaN NaN
10  11  김태우     식품영양학과  남자   3 NaN NaN
11  12  노예빈     경영정보학과  여자   3 NaN NaN
12  13  류원선       경영학과  남자   3 NaN NaN
13  14  박규리    화학생명과학과  여자   3 NaN NaN
14  15  박영수       경영학과  남자   4 NaN NaN
15  16  박진아       건축학과  여자   3 NaN NaN
16  17  박현경       경영학과  여자   2 NaN NaN
17  18  백주연       중국어과  여자   4 NaN NaN
18  19  서예선    IT융합공학과  여자   2 NaN NaN
19  20  송수빈       음악학과  여자   4 NaN NaN
20  21  안연주    영어영문학전공  여자   4 NaN NaN
21  22  양정원    영어영문학전공  여자   3 NaN NaN
22  23  염효석     보건관리학과  남자   3 NaN NaN
23  24  윤예지       일본어과  여자   3 NaN NaN
24  25  윤채린     경영정보학과  여자   3 NaN NaN
25  26  이기상       일본어과  남자   4 NaN NaN
26  27  이민영       경영학과  여자   3 NaN NaN
27  28  이아람   동물생명자원학과  여자   4 NaN NaN
28  29  이여경       음악학과  여자   4 NaN NaN
29  30  이정현  환경디자인원예학과  여자   1 NaN NaN
30  31  이주연     경영정보학과  여자   2 NaN NaN
31  32  장채연       간호학과  여자   3 NaN NaN
32  33  정민주       음악학과  여자   3 NaN NaN
33  34  정예슬       간호학과  여자   1 NaN NaN
34  35  홍지호    영어통번역전공  남자   4 NaN NaN