In [59]:
# 사용자로부터 구명, 동명 입력받아 데이터 조회
# 출력값 : '자치구명', '법정동명', '건물주용도', '건축년도', 
#              3            5          15            17     
#'건물면적' ,'층정보', '물건금액', '건물명'
#    11         13        16         18

import csv
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm


g_name = input('조회 구 이름 입력하세요.')
d_name = input('조회 동 이름 입력하세요.')
f = open('./Data/서울특별시_부동산_실거래가_정보_2020년.csv', encoding = 'cp949')
raw_data = csv.reader(f)
header = next(raw_data)

print(header)
data_lst=[]

for row in raw_data:   
    
    if g_name in row[3] and d_name in row [5]:
        
        
            #print([row[3],row[5],row[15],row[17],row[11],row[13],row[16],row[18]])
            data_lst.append([row[3],row[5],row[15],row[17],row[11],row[13],row[16],row[18]])
            
f.close()

#print(data_lst)
#print(type(data_lst))

조회 구 이름 입력하세요.성북
조회 동 이름 입력하세요.장위
['실거래가아이디', '지번코드', '시군구코드', '자치구명', '법정동코드', '법정동명', '신고년도', '업무구분코드', '업무구분', '물건번호', '대지권면적', '건물면적', '관리구분코드', '층정보', '건물주용도코드', '건물주용도', '물건금액', '건축년도', '건물명']

### 미션 : 구별 동단위 건물주용별 평균 시세

- 1. 구단위 데이터 조회
- 2. 조회구의 동별 아파트 평균 가격 계산

In [76]:
import csv
import matplotlib.pyplot as plt
import matplotlib.font_manager as fm


g_name = input('조회 구 이름 입력하세요.')

f = open('./Data/서울특별시_부동산_실거래가_정보_2020년.csv', encoding = 'cp949')
raw_data = csv.reader(f)
header = next(raw_data)

#print(header)

d_lst = []

for row in raw_data:   
    
    if g_name in row[3] :
            d_lst.append([row[3],row[5],row[15],row[17],row[11],row[13],row[16],row[18]])

d_name = []


for lst in d_lst:
    if lst[1] not in d_name:
        d_name.append(lst[1])
#print(d_name)

# 동별 평균값 계산
d_avg = 0
avg_lst = []

for dong in d_name:
    tot = 0
    cnt = 0
    for lst in d_lst:
        if dong == lst[1] and "아파트" == lst[2]:
            tot += int(lst[-2])
            cnt += 1
    
    if cnt == 0:
        avg_lst.append({"동이름":dong, "평균판매가":0, "거래건수":cnt})
    
    else:
        d_avg = tot/cnt
        avg_lst.append({"동이름":dong, "평균판매가":int(d_avg), "거래건수":cnt})

        
#print(avg_lst)
f.close()

import pandas as pd

df=pd.DataFrame(avg_lst)
df


# d_name1 = [lst[1] for lst in d_lst if lst[1] not in d_name1 ]
# #print(d_name1)

# d_name2 = [lst[1] for lst in d_lst if lst[1] in d_name2 ]
# #print(d_name1)

# if d_name1 == d_name2:
#     print('1')

조회 구 이름 입력하세요.성북

       동이름      평균판매가  거래건수
0      장위동  743787678   168
1      길음동  843763421   871
2      석관동  673315019   253
3      성북동  332900000    10
4      돈암동  675744147   786
5      정릉동  529745429  1072
6     상월곡동  555521739   115
7    동선동5가          0     0
8    동선동3가  440000000     1
9      종암동  739472074   376
10   삼선동1가          0     0
11    하월곡동  692055138   506
12  동소문동5가  594531250    16
13   보문동6가  824054054   148
14   삼선동3가  955962962    27
15   안암동3가  396111111    27
16   삼선동2가  744601063    94
17   동선동1가  638666666     6
18   삼선동4가  671347826    23
19   안암동1가  745318181    33
20   보문동3가  809523255    43
21   삼선동5가          0     0
22   동선동4가  559000000     2
23  동소문동7가  709000000    49
24   보문동1가  785050000     4
25  동소문동4가  558630952    42
26   보문동5가          0     0
27  동소문동6가  318600000     5
28   안암동4가  211600000     5
29   성북동1가  706250000     2
30   안암동5가          0     0
31   보문동4가  772200000    10
32   안암동2가          0     0
33   보문동2가  495000000     2
34   보문동7가          0     0
35  동소문동1가          0     0
36  동소문동2가          0     0
37   동선동2가          0     0

조회 구 이름 입력하세요.성북
['장위동', '길음동', '석관동', '성북동', '돈암동', '정릉동', '상월곡동', '동선동5가', '동선동3가', '종암동', '삼선동1가', '하월곡동', '동소문동5가', '보문동6가', '삼선동3가', '안암동3가', '삼선동2가', '동선동1가', '삼선동4가', '안암동1가', '보문동3가', '삼선동5가', '동선동4가', '동소문동7가', '보문동1가', '동소문동4가', '보문동5가', '동소문동6가', '안암동4가', '성북동1가', '안암동5가', '보문동4가', '안암동2가', '보문동2가', '보문동7가', '동소문동1가', '동소문동2가', '동선동2가']