In [1]:

# =============================================================================
# =============================================================================
# # 문제 11 유형(DataSet_11.csv 이용)

# 구분자 : comma(“,”), 470 Rows, 4 Columns, UTF-8 인코딩

# 세계 각국의 행복지수를 비롯한 여러 정보를 조사한 DS리서치는
# 취합된 자료의 현황 파악 및 간단한 통계분석을 실시하고자 한다.

# 컬 럼 / 정 의 / Type
# Country / 국가명 / String
# Happiness_Rank / 당해 행복점수 순위 / Double
# Happiness_Score / 행복점수 / Double
# year / 년도 / Double
# =============================================================================
# =============================================================================




#%%

# =============================================================================
# 1.분석을 위해 3년 연속 행복지수가 기록된 국가의 데이터를 사용하고자 한다. 
# 3년 연속 데이터가 기록되지 않은 국가의 개수는?
# - 국가명 표기가 한 글자라도 다른 경우 다른 국가로 처리하시오.
# - 3년 연속 데이터가 기록되지 않은 국가 데이터는 제외하고 이를 향후 분석에서
# 활용하시오.(답안 예시) 1
# =============================================================================








#%%

# =============================================================================
# 2.(1번 산출물을 활용하여) 2017년 행복지수와 2015년 행복지수를 활용하여 국가별
# 행복지수 증감률을 산출하고 행복지수 증감률이 가장 높은 3개 국가를 행복지수가
# 높은 순서대로 차례대로 기술하시오.
# 증감률 = (2017년행복지수−2015년행복지수)/2
# 
# - 연도는 년월(YEAR_MONTH) 변수로부터 추출하며, 연도별 매출금액합계는 1월부터
# 12월까지의 매출 총액을 의미한다. (답안 예시) Korea, Japan, China
# =============================================================================













#%%

# =============================================================================
# 3.(1번 산출물을 활용하여) 년도별 행복지수 평균이 유의미하게 차이가 나는지
# 알아보고자 한다. 
# 이와 관련하여 적절한 검정을 사용하고 검정통계량을 기술하시오.
# - 해당 검정의 검정통계량은 자유도가 2인 F 분포를 따른다.
# - 검정통계량은 소수점 넷째 자리까지 기술한다. (답안 예시) 0.1234
# =============================================================================

# (참고)
# from statsmodels.formula.api import ols
# from statsmodels.stats.anova import anova_lm












#%%

# =============================================================================
# =============================================================================
# # 문제 12 유형(DataSet_12.csv 이용)

# 구분자 : comma(“,”), 5000 Rows, 7 Columns, UTF-8 인코딩

# 직장인의 독서 실태를 분석하기 위해서 수도권 거주자 5000명을
# 대상으로 간단한 인적 사항과 연간 독서량 정보를 취합하였다.

# 컬 럼 / 정 의 / Type
# Age / 나이 / String
# Gender / 성별(M: 남성) / String
# Dependent_Count / 부양가족 수 / Double
# Education_Level / 교육 수준 / String
# is_Married / 결혼 여부(1: 결혼) / Double
# Read_Book_per_Year / 연간 독서량(권) / Double
# Income_Range / 소득 수준에 따른 구간(A < B < C < D < E)이며 X는
# 정보 누락 / String
# =============================================================================
# =============================================================================


#%%

# =============================================================================
# 1.수치형 변수를 대상으로 피어슨 상관분석을 실시하고 연간 독서량과 가장
# 상관관계가 강한 변수의 상관계수를 기술하시오
# - 상관계수는 반올림하여 소수점 셋째 자리까지 기술하시오. (답안 예시) 0.123
# =============================================================================






#%%

# =============================================================================
# 2.석사 이상(석사 및 박사) 여부에 따라서 연간 독서량 평균이 유의미하게 다른지 가설
# 검정을 활용하여 알아보고자 한다. 독립 2표본 t검정을 실시했을 때 
# 유의 확률(pvalue)의 값을 기술하시오.
# - 등분산 가정 하에서 검정을 실시한다.
# - 유의 확률은 반올림하여 소수점 셋째 자리까지 기술한다. (답안 예시) 0.123
# =============================================================================






#%%

# =============================================================================
# 3.독서량과 다른 수치형 변수의 관계를 다중선형회귀분석을 활용하여 알아보고자 한다. 
# 연간 독서량을 종속변수, 나머지 수치형 자료를 독립변수로 한다. 이렇게 생성한
# 선형회귀 모델을 기준으로 다른 독립변수가 고정이면서 나이만 다를 때, 40살은 30살
# 보다 독서량이 얼마나 많은가?
# - 학사 이상이면서 소득 구간 정보가 있는 데이터만 사용하여 분석을 실시하시오.
# - 결과값은 반올림하여 정수로 표기하시오. (답안 예시) 1
# =============================================================================

# (참고)
# from statsmodels.formula.api import ols















#%%

# =============================================================================
# =============================================================================
# # 문제 13 유형(DataSet13_train.csv / DataSet13_test.csv  이용)

# 구분자 : 
#     comma(“,”), 1500 Rows, 10 Columns, UTF-8 인코딩 / 
#     comma(“,”), 500 Rows, 10 Columns, UTF-8 인코딩

# 전국의 데이터 분석가 2000명을 대상으로 이직 관련 설문조사를 실시하였다. 
# 설문 대상자의 특성 및 이직 의사와 관련 인자를 면밀히 살펴보기 위해 다양한
# 분석을 실시하고자 한다.

# 컬 럼 / 정 의 / Type
# city_development_index / 거주 도시 개발 지수 / Double
# gender / 성별 / String
# relevent_experience / 관련 직무 경험 여부(1 : 유경험) / Integer
# enrolled_university / 대학 등록 형태(1 : 풀타임/파트타임) / Integer
# education_level / 교육 수준 / String
# major_discipline / 전공 / String
# experience / 경력 / Double
# last_new_job / 현 직장 직전 직무 공백 기간 / Double
# training_hours / 관련 직무 교육 이수 시간 / Double
# target / 이직 의사 여부(1 : 의사 있음) / Integer
# =============================================================================
# =============================================================================


#%%

# =============================================================================
# 1.(Dataset_13_train.csv를 활용하여) 경력과 최근 이직시 공백기간의 상관관계를 보고자
# 한다. 남여별 피어슨 상관계수를 각각 산출하고 더 높은 상관계수를 기술하시오.
# - 상관계수는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================






#%%

# =============================================================================
# 2.(Dataset_13_train.csv를 활용하여) 기존 데이터 분석 관련 직무 경험과 이직 의사가 서로
# 관련이 있는지 알아보고자 한다. 이를 위해 독립성 검정을 실시하고 해당 검정의 p-value를 기술하시오.
# - 검정은 STEM 전공자를 대상으로 한다.
# - 검정은 충분히 발달된 도시(도시 개발 지수가 제 85 백분위수 초과)에 거주하는 사람을
# 대상으로 한다.
# - 이직 의사 여부(target)은 문자열로 변경 후 사용한다.
# - p-value는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================










#%%


# =============================================================================
# 3.(Dataset_13_train.csv를 활용하여) 인사팀에서는 어떤 직원이 이직 의사를 가지고 있을지
# 사전에 파악하고 1:1 면담 등 집중 케어를 하고자 한다. 이를 위해 의사결정 나무를
# 활용하여 모델을 생성하고 그 정확도를 확인하시오.
# - target을 종속변수로 하고 나머지 변수 중 String이 아닌 변수를 독립변수로 한다.
# - 학습은 전부 기본값으로 실시한다.
# - 평가는 "Dataset_13_test.csv" 데이터로 실시한다.
# - 정확도는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# 
# =============================================================================

# (참고)
# from sklearn.tree import DecisionTreeClassifier
# random_state = 123















#%%

# =============================================================================
# =============================================================================
# # 문제 14 유형(DataSet_14.csv 이용)
#
# 구분자 : comma(“,”), 2000 Rows, 9 Columns, UTF-8 인코딩
#
# 온라인 교육업체 싱글캠퍼스에서 런칭한 교육 플랫폼을 보다
# 체계적으로 운영하기 위해 2014년부터 2016년 동안 개설된 강좌
# 2000개를 대상으로 강좌 실적 및 고객의 서비스 분석을 실시하려고
# 한다. 관련 데이터는 다음과 같다.
#
# 컬 럼 / 정 의 / Type
# id / 강좌 일련번호 / Double
# published / 강과 개설일 / String
# subject / 강좌 대주제 / String
# level / 난이도 / String
# price / 가격(만원) / Double
# subscribers / 구독자 수(결제 인원) / Double
# reviews / 리뷰 개수 / Double
# lectures / 강좌 영상 수 / Double
# duration / 강좌 총 길이(시간) / Double
# =============================================================================
# =============================================================================


#%%

# =============================================================================
# 1.결제 금액이 1억 이상이면서 구독자의 리뷰 작성 비율이 10% 이상인 교육의 수는?
# - 결제 금액은 강좌 가격에 구독자 수를 곱한 값이다.
# - 리뷰 작성 비율은 리뷰 개수에 구독자 수를 나눈 값이다. (답안 예시) 1
# =============================================================================









#%%

# =============================================================================
# 2.강좌 가격이 비쌀수록 구독자 숫자는 줄어든다는 가설을 확인하기 위해 상관분석을
# 실시하고자 한다. 2016년 개설된 Web Development 강좌를 대상으로 강좌 가격과
# 구독자 수의 피어슨 상관관계를 기술하시오.
# - 상관계수는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================












#%%

# =============================================================================
# 3.유저가 서비스 사용에 익숙해지고 컨텐츠의 좋은 내용을 서로 공유하려는 경향이
# 전반적으로 증가하는 추세라고 한다. 이를 위해 먼저 강좌 개설 년도별 구독자의 리뷰
# 작성 비율의 평균이 강좌 개설 년도별로 차이가 있는지 일원 분산 분석을 통해서
# 알아보고자 한다. 이 때 검정통계량을 기술하시오.
# - 검정통계량은 반올림하여 소수점 첫째 자리까지 기술하시오. (답안 예시) 0.1
#
# (참고)
# from statsmodels.formula.api import ols
# from statsmodels.stats.anova import anova_lm
# =============================================================================


















#%%


# =============================================================================
# =============================================================================
# # 문제 05 유형(Dataset_05_Mart_POS.csv /  이용)
#
# =============================================================================
# Dataset_05_Mart_POS.csv 
# 구분자 : comma(“,”), 20488 Rows, 3 Columns, UTF-8 인코딩
# =============================================================================
#
# 원룸촌에 위치한 A마트는 데이터 분석을 통해 보다 체계적인 재고관리와
# 운영을 하고자 한다. 이를 위해 다음의 두 데이터 세트를 준비하였다.
#
# 컬 럼 / 정 의 / Type
# Member_number / 고객 고유 번호 / Double
# Date / 구매일 / String
# itemDescription / 상품명 / String

# =============================================================================
# Dataset_05_item_list.csv 
# 구분자 : comma(“,”), 167 Rows, 4 Columns, UTF-8 인코
# =============================================================================
#
# 컬 럼 / 정 의 / Type
# prod_id / 상품 고유 번호 / Double
# prod_nm / 상품명 / String
# alcohol / 주류 상품 여부(1 : 주류) / Integer
# frozen / 냉동 상품 여부(1 : 냉동) / Integer
# =============================================================================
# =============================================================================





#%%

# =============================================================================
# 1.(Dataset_05_Mart_POS.csv를 활용하여) 가장 많은 제품이 팔린 날짜에 가장 많이 팔린
# 제품의 판매 개수는? (답안 예시) 1
# =============================================================================













#%%

# =============================================================================
# 2. (Dataset_05_Mart_POS.csv, Dataset_05_item_list.csv를 활용하여) 고객이 주류 제품을
# 구매하는 요일이 다른 요일에 비해 금요일과 토요일이 많을 것이라는 가설을 세웠다. 
# 이를 확인하기 위해 금요일과 토요일의 일별 주류제품 구매 제품 수 평균과 다른
# 요일의 일별 주류제품 구매 제품 수 평균이 서로 다른지 비교하기 위해 독립 2표본
# t검정을 실시하시오. 
# 해당 검정의 p-value를 기술하시오.
# - 1분기(1월 ~ 3월) 데이터만 사용하여 분석을 실시하시오.
# - 등분산 가정을 만족하지 않는다는 조건 하에 분석을 실시하시오.
# - p-value는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================















#%%

# =============================================================================
# 3.(Dataset_05_Mart_POS.csv를 활용하여) 1년 동안 가장 많이 판매된 10개 상품을 주력
# 상품으로 설정하고 특정 요일에 프로모션을 진행할지 말지 결정하고자 한다. 먼저
# 요일을 선정하기 전에 일원 분산 분석을 통하여 요일별 주력 상품의 판매 개수의
# 평균이 유의미하게 차이가 나는지 알아보고자 한다. 이와 관련하여 일원 분산 분석을
# 실시하고 p-value를 기술하시오.
# - p-value는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# 
# (참고)
# from statsmodels.formula.api import ols
# from statsmodels.stats.anova import anova_lm
# =============================================================================

In [9]:

# =============================================================================
# =============================================================================
# # 문제 15 유형(Dataset_05_Mart_POS.csv /  이용)
#
# =============================================================================
# Dataset_05_Mart_POS.csv 
# 구분자 : comma(“,”), 20488 Rows, 3 Columns, UTF-8 인코딩
# =============================================================================
#
# 원룸촌에 위치한 A마트는 데이터 분석을 통해 보다 체계적인 재고관리와
# 운영을 하고자 한다. 이를 위해 다음의 두 데이터 세트를 준비하였다.
#
# 컬 럼 / 정 의 / Type
# Member_number / 고객 고유 번호 / Double
# Date / 구매일 / String
# itemDescription / 상품명 / String

# =============================================================================
# Dataset_05_item_list.csv 
# 구분자 : comma(“,”), 167 Rows, 4 Columns, UTF-8 인코
# =============================================================================
#
# 컬 럼 / 정 의 / Type
# prod_id / 상품 고유 번호 / Double
# prod_nm / 상품명 / String
# alcohol / 주류 상품 여부(1 : 주류) / Integer
# frozen / 냉동 상품 여부(1 : 냉동) / Integer
# =============================================================================
# =============================================================================
import pandas as pd

pos=pd.read_csv('C:/Users/Jeongminkim/Desktop/special_class/proDS1/Dataset/Dataset_05_Mart_POS.csv')
list1=pd.read_csv('C:/Users/Jeongminkim/Desktop/special_class/proDS1/Dataset/Dataset_05_item_list.csv')

pos.columns, list1.columns

(Index(['Member_number', 'Date', 'itemDescription'], dtype='object'),
 Index(['prod_id', 'prod_nm', 'alcohol', 'frozen'], dtype='object'))

In [13]:
# =============================================================================
# 1.(Dataset_05_Mart_POS.csv를 활용하여) 가장 많은 제품이 팔린 날짜에 가장 많이 팔린
# 제품의 판매 개수는? (답안 예시) 1
# =============================================================================
date_list = pos['Date'].value_counts().idxmax()
date_list

'2015-01-21'

In [15]:
q1 = pos[pos['Date']==date_list]['itemDescription'].value_counts()
q1.max() # 정답 : 7

7

In [16]:
# =============================================================================
# 2. (Dataset_05_Mart_POS.csv, Dataset_05_item_list.csv를 활용하여) 고객이 주류 제품을
# 구매하는 요일이 다른 요일에 비해 금요일과 토요일이 많을 것이라는 가설을 세웠다. 
# 이를 확인하기 위해 금요일과 토요일의 일별 주류제품 구매 제품 수 평균과 다른
# 요일의 일별 주류제품 구매 제품 수 평균이 서로 다른지 비교하기 위해 독립 2표본
# t검정을 실시하시오. 
# 해당 검정의 p-value를 기술하시오.
# - 1분기(1월 ~ 3월) 데이터만 사용하여 분석을 실시하시오.
# - 등분산 가정을 만족하지 않는다는 조건 하에 분석을 실시하시오.
# - p-value는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# =============================================================================

In [18]:
# (1) pos.Date 변수 활용해서 월, 요일 추출(1분기 추출)
q2 = pos.copy()

q2.dtypes

Member_number       int64
Date               object
itemDescription    object
dtype: object

In [21]:
q2['month'] = pd.to_datetime(q2['Date']).dt.month
q2['day'] = pd.to_datetime(q2['Date']).dt.day_name(locale='ko_kr')

In [24]:
# (참조)
import locale
locale.locale_alias

{'a3': 'az_AZ.KOI8-C',
 'a3_az': 'az_AZ.KOI8-C',
 'a3_az.koic': 'az_AZ.KOI8-C',
 'aa_dj': 'aa_DJ.ISO8859-1',
 'aa_er': 'aa_ER.UTF-8',
 'aa_et': 'aa_ET.UTF-8',
 'af': 'af_ZA.ISO8859-1',
 'af_za': 'af_ZA.ISO8859-1',
 'agr_pe': 'agr_PE.UTF-8',
 'ak_gh': 'ak_GH.UTF-8',
 'am': 'am_ET.UTF-8',
 'am_et': 'am_ET.UTF-8',
 'american': 'en_US.ISO8859-1',
 'an_es': 'an_ES.ISO8859-15',
 'anp_in': 'anp_IN.UTF-8',
 'ar': 'ar_AA.ISO8859-6',
 'ar_aa': 'ar_AA.ISO8859-6',
 'ar_ae': 'ar_AE.ISO8859-6',
 'ar_bh': 'ar_BH.ISO8859-6',
 'ar_dz': 'ar_DZ.ISO8859-6',
 'ar_eg': 'ar_EG.ISO8859-6',
 'ar_in': 'ar_IN.UTF-8',
 'ar_iq': 'ar_IQ.ISO8859-6',
 'ar_jo': 'ar_JO.ISO8859-6',
 'ar_kw': 'ar_KW.ISO8859-6',
 'ar_lb': 'ar_LB.ISO8859-6',
 'ar_ly': 'ar_LY.ISO8859-6',
 'ar_ma': 'ar_MA.ISO8859-6',
 'ar_om': 'ar_OM.ISO8859-6',
 'ar_qa': 'ar_QA.ISO8859-6',
 'ar_sa': 'ar_SA.ISO8859-6',
 'ar_sd': 'ar_SD.ISO8859-6',
 'ar_ss': 'ar_SS.UTF-8',
 'ar_sy': 'ar_SY.ISO8859-6',
 'ar_tn': 'ar_TN.ISO8859-6',
 'ar_ye': 'ar_YE.ISO8859-6',
 'arabic': 'ar_AA.ISO8859-6',
 'as': 'as_IN.UTF-8',
 'as_in': 'as_IN.UTF-8',
 'ast_es': 'ast_ES.ISO8859-15',
 'ayc_pe': 'ayc_PE.UTF-8',
 'az': 'az_AZ.ISO8859-9E',
 'az_az': 'az_AZ.ISO8859-9E',
 'az_az.iso88599e': 'az_AZ.ISO8859-9E',
 'az_ir': 'az_IR.UTF-8',
 'be': 'be_BY.CP1251',
 'be@latin': 'be_BY.UTF-8@latin',
 'be_bg.utf8': 'bg_BG.UTF-8',
 'be_by': 'be_BY.CP1251',
 'be_by@latin': 'be_BY.UTF-8@latin',
 'bem_zm': 'bem_ZM.UTF-8',
 'ber_dz': 'ber_DZ.UTF-8',
 'ber_ma': 'ber_MA.UTF-8',
 'bg': 'bg_BG.CP1251',
 'bg_bg': 'bg_BG.CP1251',
 'bhb_in.utf8': 'bhb_IN.UTF-8',
 'bho_in': 'bho_IN.UTF-8',
 'bho_np': 'bho_NP.UTF-8',
 'bi_vu': 'bi_VU.UTF-8',
 'bn_bd': 'bn_BD.UTF-8',
 'bn_in': 'bn_IN.UTF-8',
 'bo_cn': 'bo_CN.UTF-8',
 'bo_in': 'bo_IN.UTF-8',
 'bokmal': 'nb_NO.ISO8859-1',
 'bokmål': 'nb_NO.ISO8859-1',
 'br': 'br_FR.ISO8859-1',
 'br_fr': 'br_FR.ISO8859-1',
 'brx_in': 'brx_IN.UTF-8',
 'bs': 'bs_BA.ISO8859-2',
 'bs_ba': 'bs_BA.ISO8859-2',
 'bulgarian': 'bg_BG.CP1251',
 'byn_er': 'byn_ER.UTF-8',
 'c': 'C',
 'c-french': 'fr_CA.ISO8859-1',
 'c.ascii': 'C',
 'c.en': 'C',
 'c.iso88591': 'en_US.ISO8859-1',
 'c.utf8': 'en_US.UTF-8',
 'c_c': 'C',
 'c_c.c': 'C',
 'ca': 'ca_ES.ISO8859-1',
 'ca_ad': 'ca_AD.ISO8859-1',
 'ca_es': 'ca_ES.ISO8859-1',
 'ca_es@valencia': 'ca_ES.UTF-8@valencia',
 'ca_fr': 'ca_FR.ISO8859-1',
 'ca_it': 'ca_IT.ISO8859-1',
 'catalan': 'ca_ES.ISO8859-1',
 'ce_ru': 'ce_RU.UTF-8',
 'cextend': 'en_US.ISO8859-1',
 'chinese-s': 'zh_CN.eucCN',
 'chinese-t': 'zh_TW.eucTW',
 'chr_us': 'chr_US.UTF-8',
 'ckb_iq': 'ckb_IQ.UTF-8',
 'cmn_tw': 'cmn_TW.UTF-8',
 'crh_ua': 'crh_UA.UTF-8',
 'croatian': 'hr_HR.ISO8859-2',
 'cs': 'cs_CZ.ISO8859-2',
 'cs_cs': 'cs_CZ.ISO8859-2',
 'cs_cz': 'cs_CZ.ISO8859-2',
 'csb_pl': 'csb_PL.UTF-8',
 'cv_ru': 'cv_RU.UTF-8',
 'cy': 'cy_GB.ISO8859-1',
 'cy_gb': 'cy_GB.ISO8859-1',
 'cz': 'cs_CZ.ISO8859-2',
 'cz_cz': 'cs_CZ.ISO8859-2',
 'czech': 'cs_CZ.ISO8859-2',
 'da': 'da_DK.ISO8859-1',
 'da_dk': 'da_DK.ISO8859-1',
 'danish': 'da_DK.ISO8859-1',
 'dansk': 'da_DK.ISO8859-1',
 'de': 'de_DE.ISO8859-1',
 'de_at': 'de_AT.ISO8859-1',
 'de_be': 'de_BE.ISO8859-1',
 'de_ch': 'de_CH.ISO8859-1',
 'de_de': 'de_DE.ISO8859-1',
 'de_it': 'de_IT.ISO8859-1',
 'de_li.utf8': 'de_LI.UTF-8',
 'de_lu': 'de_LU.ISO8859-1',
 'deutsch': 'de_DE.ISO8859-1',
 'doi_in': 'doi_IN.UTF-8',
 'dutch': 'nl_NL.ISO8859-1',
 'dutch.iso88591': 'nl_BE.ISO8859-1',
 'dv_mv': 'dv_MV.UTF-8',
 'dz_bt': 'dz_BT.UTF-8',
 'ee': 'ee_EE.ISO8859-4',
 'ee_ee': 'ee_EE.ISO8859-4',
 'eesti': 'et_EE.ISO8859-1',
 'el': 'el_GR.ISO8859-7',
 'el_cy': 'el_CY.ISO8859-7',
 'el_gr': 'el_GR.ISO8859-7',
 'el_gr@euro': 'el_GR.ISO8859-15',
 'en': 'en_US.ISO8859-1',
 'en_ag': 'en_AG.UTF-8',
 'en_au': 'en_AU.ISO8859-1',
 'en_be': 'en_BE.ISO8859-1',
 'en_bw': 'en_BW.ISO8859-1',
 'en_ca': 'en_CA.ISO8859-1',
 'en_dk': 'en_DK.ISO8859-1',
 'en_dl.utf8': 'en_DL.UTF-8',
 'en_gb': 'en_GB.ISO8859-1',
 'en_hk': 'en_HK.ISO8859-1',
 'en_ie': 'en_IE.ISO8859-1',
 'en_il': 'en_IL.UTF-8',
 'en_in': 'en_IN.ISO8859-1',
 'en_ng': 'en_NG.UTF-8',
 'en_nz': 'en_NZ.ISO8859-1',
 'en_ph': 'en_PH.ISO8859-1',
 'en_sc.utf8': 'en_SC.UTF-8',
 'en_sg': 'en_SG.ISO8859-1',
 'en_uk': 'en_GB.ISO8859-1',
 'en_us': 'en_US.ISO8859-1',
 'en_us@euro@euro': 'en_US.ISO8859-15',
 'en_za': 'en_ZA.ISO8859-1',
 'en_zm': 'en_ZM.UTF-8',
 'en_zw': 'en_ZW.ISO8859-1',
 'en_zw.utf8': 'en_ZS.UTF-8',
 'eng_gb': 'en_GB.ISO8859-1',
 'english': 'en_EN.ISO8859-1',
 'english.iso88591': 'en_US.ISO8859-1',
 'english_uk': 'en_GB.ISO8859-1',
 'english_united-states': 'en_US.ISO8859-1',
 'english_united-states.437': 'C',
 'english_us': 'en_US.ISO8859-1',
 'eo': 'eo_XX.ISO8859-3',
 'eo.utf8': 'eo.UTF-8',
 'eo_eo': 'eo_EO.ISO8859-3',
 'eo_us.utf8': 'eo_US.UTF-8',
 'eo_xx': 'eo_XX.ISO8859-3',
 'es': 'es_ES.ISO8859-1',
 'es_ar': 'es_AR.ISO8859-1',
 'es_bo': 'es_BO.ISO8859-1',
 'es_cl': 'es_CL.ISO8859-1',
 'es_co': 'es_CO.ISO8859-1',
 'es_cr': 'es_CR.ISO8859-1',
 'es_cu': 'es_CU.UTF-8',
 'es_do': 'es_DO.ISO8859-1',
 'es_ec': 'es_EC.ISO8859-1',
 'es_es': 'es_ES.ISO8859-1',
 'es_gt': 'es_GT.ISO8859-1',
 'es_hn': 'es_HN.ISO8859-1',
 'es_mx': 'es_MX.ISO8859-1',
 'es_ni': 'es_NI.ISO8859-1',
 'es_pa': 'es_PA.ISO8859-1',
 'es_pe': 'es_PE.ISO8859-1',
 'es_pr': 'es_PR.ISO8859-1',
 'es_py': 'es_PY.ISO8859-1',
 'es_sv': 'es_SV.ISO8859-1',
 'es_us': 'es_US.ISO8859-1',
 'es_uy': 'es_UY.ISO8859-1',
 'es_ve': 'es_VE.ISO8859-1',
 'estonian': 'et_EE.ISO8859-1',
 'et': 'et_EE.ISO8859-15',
 'et_ee': 'et_EE.ISO8859-15',
 'eu': 'eu_ES.ISO8859-1',
 'eu_es': 'eu_ES.ISO8859-1',
 'eu_fr': 'eu_FR.ISO8859-1',
 'fa': 'fa_IR.UTF-8',
 'fa_ir': 'fa_IR.UTF-8',
 'fa_ir.isiri3342': 'fa_IR.ISIRI-3342',
 'ff_sn': 'ff_SN.UTF-8',
 'fi': 'fi_FI.ISO8859-15',
 'fi_fi': 'fi_FI.ISO8859-15',
 'fil_ph': 'fil_PH.UTF-8',
 'finnish': 'fi_FI.ISO8859-1',
 'fo': 'fo_FO.ISO8859-1',
 'fo_fo': 'fo_FO.ISO8859-1',
 'fr': 'fr_FR.ISO8859-1',
 'fr_be': 'fr_BE.ISO8859-1',
 'fr_ca': 'fr_CA.ISO8859-1',
 'fr_ch': 'fr_CH.ISO8859-1',
 'fr_fr': 'fr_FR.ISO8859-1',
 'fr_lu': 'fr_LU.ISO8859-1',
 'français': 'fr_FR.ISO8859-1',
 'fre_fr': 'fr_FR.ISO8859-1',
 'french': 'fr_FR.ISO8859-1',
 'french.iso88591': 'fr_CH.ISO8859-1',
 'french_france': 'fr_FR.ISO8859-1',
 'fur_it': 'fur_IT.UTF-8',
 'fy_de': 'fy_DE.UTF-8',
 'fy_nl': 'fy_NL.UTF-8',
 'ga': 'ga_IE.ISO8859-1',
 'ga_ie': 'ga_IE.ISO8859-1',
 'galego': 'gl_ES.ISO8859-1',
 'galician': 'gl_ES.ISO8859-1',
 'gd': 'gd_GB.ISO8859-1',
 'gd_gb': 'gd_GB.ISO8859-1',
 'ger_de': 'de_DE.ISO8859-1',
 'german': 'de_DE.ISO8859-1',
 'german.iso88591': 'de_CH.ISO8859-1',
 'german_germany': 'de_DE.ISO8859-1',
 'gez_er': 'gez_ER.UTF-8',
 'gez_et': 'gez_ET.UTF-8',
 'gl': 'gl_ES.ISO8859-1',
 'gl_es': 'gl_ES.ISO8859-1',
 'greek': 'el_GR.ISO8859-7',
 'gu_in': 'gu_IN.UTF-8',
 'gv': 'gv_GB.ISO8859-1',
 'gv_gb': 'gv_GB.ISO8859-1',
 'ha_ng': 'ha_NG.UTF-8',
 'hak_tw': 'hak_TW.UTF-8',
 'he': 'he_IL.ISO8859-8',
 'he_il': 'he_IL.ISO8859-8',
 'hebrew': 'he_IL.ISO8859-8',
 'hi': 'hi_IN.ISCII-DEV',
 'hi_in': 'hi_IN.ISCII-DEV',
 'hi_in.isciidev': 'hi_IN.ISCII-DEV',
 'hif_fj': 'hif_FJ.UTF-8',
 'hne': 'hne_IN.UTF-8',
 'hne_in': 'hne_IN.UTF-8',
 'hr': 'hr_HR.ISO8859-2',
 'hr_hr': 'hr_HR.ISO8859-2',
 'hrvatski': 'hr_HR.ISO8859-2',
 'hsb_de': 'hsb_DE.ISO8859-2',
 'ht_ht': 'ht_HT.UTF-8',
 'hu': 'hu_HU.ISO8859-2',
 'hu_hu': 'hu_HU.ISO8859-2',
 'hungarian': 'hu_HU.ISO8859-2',
 'hy_am': 'hy_AM.UTF-8',
 'hy_am.armscii8': 'hy_AM.ARMSCII_8',
 'ia': 'ia.UTF-8',
 'ia_fr': 'ia_FR.UTF-8',
 'icelandic': 'is_IS.ISO8859-1',
 'id': 'id_ID.ISO8859-1',
 'id_id': 'id_ID.ISO8859-1',
 'ig_ng': 'ig_NG.UTF-8',
 'ik_ca': 'ik_CA.UTF-8',
 'in': 'id_ID.ISO8859-1',
 'in_id': 'id_ID.ISO8859-1',
 'is': 'is_IS.ISO8859-1',
 'is_is': 'is_IS.ISO8859-1',
 'iso-8859-1': 'en_US.ISO8859-1',
 'iso-8859-15': 'en_US.ISO8859-15',
 'iso8859-1': 'en_US.ISO8859-1',
 'iso8859-15': 'en_US.ISO8859-15',
 'iso_8859_1': 'en_US.ISO8859-1',
 'iso_8859_15': 'en_US.ISO8859-15',
 'it': 'it_IT.ISO8859-1',
 'it_ch': 'it_CH.ISO8859-1',
 'it_it': 'it_IT.ISO8859-1',
 'italian': 'it_IT.ISO8859-1',
 'iu': 'iu_CA.NUNACOM-8',
 'iu_ca': 'iu_CA.NUNACOM-8',
 'iu_ca.nunacom8': 'iu_CA.NUNACOM-8',
 'iw': 'he_IL.ISO8859-8',
 'iw_il': 'he_IL.ISO8859-8',
 'iw_il.utf8': 'iw_IL.UTF-8',
 'ja': 'ja_JP.eucJP',
 'ja_jp': 'ja_JP.eucJP',
 'ja_jp.euc': 'ja_JP.eucJP',
 'ja_jp.mscode': 'ja_JP.SJIS',
 'ja_jp.pck': 'ja_JP.SJIS',
 'japan': 'ja_JP.eucJP',
 'japanese': 'ja_JP.eucJP',
 'japanese-euc': 'ja_JP.eucJP',
 'japanese.euc': 'ja_JP.eucJP',
 'jp_jp': 'ja_JP.eucJP',
 'ka': 'ka_GE.GEORGIAN-ACADEMY',
 'ka_ge': 'ka_GE.GEORGIAN-ACADEMY',
 'ka_ge.georgianacademy': 'ka_GE.GEORGIAN-ACADEMY',
 'ka_ge.georgianps': 'ka_GE.GEORGIAN-PS',
 'ka_ge.georgianrs': 'ka_GE.GEORGIAN-ACADEMY',
 'kab_dz': 'kab_DZ.UTF-8',
 'kk_kz': 'kk_KZ.ptcp154',
 'kl': 'kl_GL.ISO8859-1',
 'kl_gl': 'kl_GL.ISO8859-1',
 'km_kh': 'km_KH.UTF-8',
 'kn': 'kn_IN.UTF-8',
 'kn_in': 'kn_IN.UTF-8',
 'ko': 'ko_KR.eucKR',
 'ko_kr': 'ko_KR.eucKR',
 'ko_kr.euc': 'ko_KR.eucKR',
 'kok_in': 'kok_IN.UTF-8',
 'korean': 'ko_KR.eucKR',
 'korean.euc': 'ko_KR.eucKR',
 'ks': 'ks_IN.UTF-8',
 'ks_in': 'ks_IN.UTF-8',
 'ks_in@devanagari.utf8': 'ks_IN.UTF-8@devanagari',
 'ku_tr': 'ku_TR.ISO8859-9',
 'kw': 'kw_GB.ISO8859-1',
 'kw_gb': 'kw_GB.ISO8859-1',
 'ky': 'ky_KG.UTF-8',
 'ky_kg': 'ky_KG.UTF-8',
 'lb_lu': 'lb_LU.UTF-8',
 'lg_ug': 'lg_UG.ISO8859-10',
 'li_be': 'li_BE.UTF-8',
 'li_nl': 'li_NL.UTF-8',
 'lij_it': 'lij_IT.UTF-8',
 'lithuanian': 'lt_LT.ISO8859-13',
 'ln_cd': 'ln_CD.UTF-8',
 'lo': 'lo_LA.MULELAO-1',
 'lo_la': 'lo_LA.MULELAO-1',
 'lo_la.cp1133': 'lo_LA.IBM-CP1133',
 'lo_la.ibmcp1133': 'lo_LA.IBM-CP1133',
 'lo_la.mulelao1': 'lo_LA.MULELAO-1',
 'lt': 'lt_LT.ISO8859-13',
 'lt_lt': 'lt_LT.ISO8859-13',
 'lv': 'lv_LV.ISO8859-13',
 'lv_lv': 'lv_LV.ISO8859-13',
 'lzh_tw': 'lzh_TW.UTF-8',
 'mag_in': 'mag_IN.UTF-8',
 'mai': 'mai_IN.UTF-8',
 'mai_in': 'mai_IN.UTF-8',
 'mai_np': 'mai_NP.UTF-8',
 'mfe_mu': 'mfe_MU.UTF-8',
 'mg_mg': 'mg_MG.ISO8859-15',
 'mhr_ru': 'mhr_RU.UTF-8',
 'mi': 'mi_NZ.ISO8859-1',
 'mi_nz': 'mi_NZ.ISO8859-1',
 'miq_ni': 'miq_NI.UTF-8',
 'mjw_in': 'mjw_IN.UTF-8',
 'mk': 'mk_MK.ISO8859-5',
 'mk_mk': 'mk_MK.ISO8859-5',
 'ml': 'ml_IN.UTF-8',
 'ml_in': 'ml_IN.UTF-8',
 'mn_mn': 'mn_MN.UTF-8',
 'mni_in': 'mni_IN.UTF-8',
 'mr': 'mr_IN.UTF-8',
 'mr_in': 'mr_IN.UTF-8',
 'ms': 'ms_MY.ISO8859-1',
 'ms_my': 'ms_MY.ISO8859-1',
 'mt': 'mt_MT.ISO8859-3',
 'mt_mt': 'mt_MT.ISO8859-3',
 'my_mm': 'my_MM.UTF-8',
 'nan_tw': 'nan_TW.UTF-8',
 'nb': 'nb_NO.ISO8859-1',
 'nb_no': 'nb_NO.ISO8859-1',
 'nds_de': 'nds_DE.UTF-8',
 'nds_nl': 'nds_NL.UTF-8',
 'ne_np': 'ne_NP.UTF-8',
 'nhn_mx': 'nhn_MX.UTF-8',
 'niu_nu': 'niu_NU.UTF-8',
 'niu_nz': 'niu_NZ.UTF-8',
 'nl': 'nl_NL.ISO8859-1',
 'nl_aw': 'nl_AW.UTF-8',
 'nl_be': 'nl_BE.ISO8859-1',
 'nl_nl': 'nl_NL.ISO8859-1',
 'nn': 'nn_NO.ISO8859-1',
 'nn_no': 'nn_NO.ISO8859-1',
 'no': 'no_NO.ISO8859-1',
 'no@nynorsk': 'ny_NO.ISO8859-1',
 'no_no': 'no_NO.ISO8859-1',
 'no_no.iso88591@bokmal': 'no_NO.ISO8859-1',
 'no_no.iso88591@nynorsk': 'no_NO.ISO8859-1',
 'norwegian': 'no_NO.ISO8859-1',
 'nr': 'nr_ZA.ISO8859-1',
 'nr_za': 'nr_ZA.ISO8859-1',
 'nso': 'nso_ZA.ISO8859-15',
 'nso_za': 'nso_ZA.ISO8859-15',
 'ny': 'ny_NO.ISO8859-1',
 'ny_no': 'ny_NO.ISO8859-1',
 'nynorsk': 'nn_NO.ISO8859-1',
 'oc': 'oc_FR.ISO8859-1',
 'oc_fr': 'oc_FR.ISO8859-1',
 'om_et': 'om_ET.UTF-8',
 'om_ke': 'om_KE.ISO8859-1',
 'or': 'or_IN.UTF-8',
 'or_in': 'or_IN.UTF-8',
 'os_ru': 'os_RU.UTF-8',
 'pa': 'pa_IN.UTF-8',
 'pa_in': 'pa_IN.UTF-8',
 'pa_pk': 'pa_PK.UTF-8',
 'pap_an': 'pap_AN.UTF-8',
 'pap_aw': 'pap_AW.UTF-8',
 'pap_cw': 'pap_CW.UTF-8',
 'pd': 'pd_US.ISO8859-1',
 'pd_de': 'pd_DE.ISO8859-1',
 'pd_us': 'pd_US.ISO8859-1',
 'ph': 'ph_PH.ISO8859-1',
 'ph_ph': 'ph_PH.ISO8859-1',
 'pl': 'pl_PL.ISO8859-2',
 'pl_pl': 'pl_PL.ISO8859-2',
 'polish': 'pl_PL.ISO8859-2',
 'portuguese': 'pt_PT.ISO8859-1',
 'portuguese_brazil': 'pt_BR.ISO8859-1',
 'posix': 'C',
 'posix-utf2': 'C',
 'pp': 'pp_AN.ISO8859-1',
 'pp_an': 'pp_AN.ISO8859-1',
 'ps_af': 'ps_AF.UTF-8',
 'pt': 'pt_PT.ISO8859-1',
 'pt_br': 'pt_BR.ISO8859-1',
 'pt_pt': 'pt_PT.ISO8859-1',
 'quz_pe': 'quz_PE.UTF-8',
 'raj_in': 'raj_IN.UTF-8',
 'ro': 'ro_RO.ISO8859-2',
 'ro_ro': 'ro_RO.ISO8859-2',
 'romanian': 'ro_RO.ISO8859-2',
 'ru': 'ru_RU.UTF-8',
 'ru_ru': 'ru_RU.UTF-8',
 'ru_ua': 'ru_UA.KOI8-U',
 'rumanian': 'ro_RO.ISO8859-2',
 'russian': 'ru_RU.KOI8-R',
 'rw': 'rw_RW.ISO8859-1',
 'rw_rw': 'rw_RW.ISO8859-1',
 'sa_in': 'sa_IN.UTF-8',
 'sat_in': 'sat_IN.UTF-8',
 'sc_it': 'sc_IT.UTF-8',
 'sd': 'sd_IN.UTF-8',
 'sd_in': 'sd_IN.UTF-8',
 'sd_in@devanagari.utf8': 'sd_IN.UTF-8@devanagari',
 'sd_pk': 'sd_PK.UTF-8',
 'se_no': 'se_NO.UTF-8',
 'serbocroatian': 'sr_RS.UTF-8@latin',
 'sgs_lt': 'sgs_LT.UTF-8',
 'sh': 'sr_RS.UTF-8@latin',
 'sh_ba.iso88592@bosnia': 'sr_CS.ISO8859-2',
 'sh_hr': 'sh_HR.ISO8859-2',
 'sh_hr.iso88592': 'hr_HR.ISO8859-2',
 'sh_sp': 'sr_CS.ISO8859-2',
 'sh_yu': 'sr_RS.UTF-8@latin',
 'shn_mm': 'shn_MM.UTF-8',
 'shs_ca': 'shs_CA.UTF-8',
 'si': 'si_LK.UTF-8',
 'si_lk': 'si_LK.UTF-8',
 'sid_et': 'sid_ET.UTF-8',
 'sinhala': 'si_LK.UTF-8',
 'sk': 'sk_SK.ISO8859-2',
 'sk_sk': 'sk_SK.ISO8859-2',
 'sl': 'sl_SI.ISO8859-2',
 'sl_cs': 'sl_CS.ISO8859-2',
 'sl_si': 'sl_SI.ISO8859-2',
 'slovak': 'sk_SK.ISO8859-2',
 'slovene': 'sl_SI.ISO8859-2',
 'slovenian': 'sl_SI.ISO8859-2',
 'sm_ws': 'sm_WS.UTF-8',
 'so_dj': 'so_DJ.ISO8859-1',
 'so_et': 'so_ET.UTF-8',
 'so_ke': 'so_KE.ISO8859-1',
 'so_so': 'so_SO.ISO8859-1',
 'sp': 'sr_CS.ISO8859-5',
 'sp_yu': 'sr_CS.ISO8859-5',
 'spanish': 'es_ES.ISO8859-1',
 'spanish_spain': 'es_ES.ISO8859-1',
 'sq': 'sq_AL.ISO8859-2',
 'sq_al': 'sq_AL.ISO8859-2',
 'sq_mk': 'sq_MK.UTF-8',
 'sr': 'sr_RS.UTF-8',
 'sr@cyrillic': 'sr_RS.UTF-8',
 'sr@latn': 'sr_CS.UTF-8@latin',
 'sr_cs': 'sr_CS.UTF-8',
 'sr_cs.iso88592@latn': 'sr_CS.ISO8859-2',
 'sr_cs@latn': 'sr_CS.UTF-8@latin',
 'sr_me': 'sr_ME.UTF-8',
 'sr_rs': 'sr_RS.UTF-8',
 'sr_rs@latn': 'sr_RS.UTF-8@latin',
 'sr_sp': 'sr_CS.ISO8859-2',
 'sr_yu': 'sr_RS.UTF-8@latin',
 'sr_yu.cp1251@cyrillic': 'sr_CS.CP1251',
 'sr_yu.iso88592': 'sr_CS.ISO8859-2',
 'sr_yu.iso88595': 'sr_CS.ISO8859-5',
 'sr_yu.iso88595@cyrillic': 'sr_CS.ISO8859-5',
 'sr_yu.microsoftcp1251@cyrillic': 'sr_CS.CP1251',
 'sr_yu.utf8': 'sr_RS.UTF-8',
 'sr_yu.utf8@cyrillic': 'sr_RS.UTF-8',
 'sr_yu@cyrillic': 'sr_RS.UTF-8',
 'ss': 'ss_ZA.ISO8859-1',
 'ss_za': 'ss_ZA.ISO8859-1',
 'st': 'st_ZA.ISO8859-1',
 'st_za': 'st_ZA.ISO8859-1',
 'sv': 'sv_SE.ISO8859-1',
 'sv_fi': 'sv_FI.ISO8859-1',
 'sv_se': 'sv_SE.ISO8859-1',
 'sw_ke': 'sw_KE.UTF-8',
 'sw_tz': 'sw_TZ.UTF-8',
 'swedish': 'sv_SE.ISO8859-1',
 'szl_pl': 'szl_PL.UTF-8',
 'ta': 'ta_IN.TSCII-0',
 'ta_in': 'ta_IN.TSCII-0',
 'ta_in.tscii': 'ta_IN.TSCII-0',
 'ta_in.tscii0': 'ta_IN.TSCII-0',
 'ta_lk': 'ta_LK.UTF-8',
 'tcy_in.utf8': 'tcy_IN.UTF-8',
 'te': 'te_IN.UTF-8',
 'te_in': 'te_IN.UTF-8',
 'tg': 'tg_TJ.KOI8-C',
 'tg_tj': 'tg_TJ.KOI8-C',
 'th': 'th_TH.ISO8859-11',
 'th_th': 'th_TH.ISO8859-11',
 'th_th.tactis': 'th_TH.TIS620',
 'th_th.tis620': 'th_TH.TIS620',
 'thai': 'th_TH.ISO8859-11',
 'the_np': 'the_NP.UTF-8',
 'ti_er': 'ti_ER.UTF-8',
 'ti_et': 'ti_ET.UTF-8',
 'tig_er': 'tig_ER.UTF-8',
 'tk_tm': 'tk_TM.UTF-8',
 'tl': 'tl_PH.ISO8859-1',
 'tl_ph': 'tl_PH.ISO8859-1',
 'tn': 'tn_ZA.ISO8859-15',
 'tn_za': 'tn_ZA.ISO8859-15',
 'to_to': 'to_TO.UTF-8',
 'tpi_pg': 'tpi_PG.UTF-8',
 'tr': 'tr_TR.ISO8859-9',
 'tr_cy': 'tr_CY.ISO8859-9',
 'tr_tr': 'tr_TR.ISO8859-9',
 'ts': 'ts_ZA.ISO8859-1',
 'ts_za': 'ts_ZA.ISO8859-1',
 'tt': 'tt_RU.TATAR-CYR',
 'tt_ru': 'tt_RU.TATAR-CYR',
 'tt_ru.tatarcyr': 'tt_RU.TATAR-CYR',
 'tt_ru@iqtelif': 'tt_RU.UTF-8@iqtelif',
 'turkish': 'tr_TR.ISO8859-9',
 'ug_cn': 'ug_CN.UTF-8',
 'uk': 'uk_UA.KOI8-U',
 'uk_ua': 'uk_UA.KOI8-U',
 'univ': 'en_US.utf',
 'universal': 'en_US.utf',
 'universal.utf8@ucs4': 'en_US.UTF-8',
 'unm_us': 'unm_US.UTF-8',
 'ur': 'ur_PK.CP1256',
 'ur_in': 'ur_IN.UTF-8',
 'ur_pk': 'ur_PK.CP1256',
 'uz': 'uz_UZ.UTF-8',
 'uz_uz': 'uz_UZ.UTF-8',
 'uz_uz@cyrillic': 'uz_UZ.UTF-8',
 've': 've_ZA.UTF-8',
 've_za': 've_ZA.UTF-8',
 'vi': 'vi_VN.TCVN',
 'vi_vn': 'vi_VN.TCVN',
 'vi_vn.tcvn': 'vi_VN.TCVN',
 'vi_vn.tcvn5712': 'vi_VN.TCVN',
 'vi_vn.viscii': 'vi_VN.VISCII',
 'vi_vn.viscii111': 'vi_VN.VISCII',
 'wa': 'wa_BE.ISO8859-1',
 'wa_be': 'wa_BE.ISO8859-1',
 'wae_ch': 'wae_CH.UTF-8',
 'wal_et': 'wal_ET.UTF-8',
 'wo_sn': 'wo_SN.UTF-8',
 'xh': 'xh_ZA.ISO8859-1',
 'xh_za': 'xh_ZA.ISO8859-1',
 'yi': 'yi_US.CP1255',
 'yi_us': 'yi_US.CP1255',
 'yo_ng': 'yo_NG.UTF-8',
 'yue_hk': 'yue_HK.UTF-8',
 'yuw_pg': 'yuw_PG.UTF-8',
 'zh': 'zh_CN.eucCN',
 'zh_cn': 'zh_CN.gb2312',
 'zh_cn.big5': 'zh_TW.big5',
 'zh_cn.euc': 'zh_CN.eucCN',
 'zh_hk': 'zh_HK.big5hkscs',
 'zh_hk.big5hk': 'zh_HK.big5hkscs',
 'zh_sg': 'zh_SG.GB2312',
 'zh_sg.gbk': 'zh_SG.GBK',
 'zh_tw': 'zh_TW.big5',
 'zh_tw.euc': 'zh_TW.eucTW',
 'zh_tw.euctw': 'zh_TW.eucTW',
 'zu': 'zu_ZA.ISO8859-1',
 'zu_za': 'zu_ZA.ISO8859-1'}

In [28]:
# (2) 금,토 인가, 다른 요일 인가
q2['week'] = 0
q2.loc[q2.day.isin(['금요일', '토요일']),'week'] = 1

# np.where(q2.day.isin(['금요일','토요일']), 1, 0)
q2

       Member_number        Date itemDescription  month  day  week
0               1220  2015-01-01     canned beer      1  목요일     0
1               1220  2015-01-01       margarine      1  목요일     0
2               1220  2015-01-01       chocolate      1  목요일     0
3               1235  2015-01-01         sausage      1  목요일     0
4               1235  2015-01-01         sausage      1  목요일     0
...              ...         ...             ...    ...  ...   ...
20483           4058  2015-12-30    cream cheese     12  수요일     0
20484           4565  2015-12-30     canned beer     12  수요일     0
20485           4565  2015-12-30     canned beer     12  수요일     0
20486           4863  2015-12-30         dessert     12  수요일     0
20487           4863  2015-12-30            curd     12  수요일     0

[20488 rows x 6 columns]

In [27]:
# (3) 주류 유무 생성(테이블 결합)
# Index(['Member_number', 'Date', 'itemDescription'], dtype='object'),
# Index(['prod_id', 'prod_nm', 'alcohol', 'frozen'], dtype='object'))

merge = pd.merge(q2, list1, 
                 left_on='itemDescription',
                right_on='prod_nm',
                how='left')
merge

,Member_number,Date,itemDescription,month,day,week,prod_id,prod_nm,alcohol,frozen
0,1220,2015-01-01,canned beer,1,목요일,0,25,canned beer,1,0
1,1220,2015-01-01,margarine,1,목요일,0,70,margarine,0,0
2,1220,2015-01-01,chocolate,1,목요일,0,14,chocolate,0,0
3,1235,2015-01-01,sausage,1,목요일,0,19,sausage,0,0
4,1235,2015-01-01,sausage,1,목요일,0,19,sausage,0,0
...,...,...,...,...,...,...,...,...,...,...
20483,4058,2015-12-30,cream cheese,12,수요일,0,60,cream cheese,0,0
20484,4565,2015-12-30,canned beer,12,수요일,0,25,canned beer,1,0
20485,4565,2015-12-30,canned beer,12,수요일,0,25,canned beer,1,0
20486,4863,2015-12-30,dessert,12,수요일,0,51,dessert,0,0
20487,4863,2015-12-30,curd,12,수요일,0,45,curd,0,0

In [31]:
# (4) 1 분기 추출
merge = merge[merge.month.isin([1,2,3])]
merge

,Member_number,Date,itemDescription,month,day,week,prod_id,prod_nm,alcohol,frozen
0,1220,2015-01-01,canned beer,1,목요일,0,25,canned beer,1,0
1,1220,2015-01-01,margarine,1,목요일,0,70,margarine,0,0
2,1220,2015-01-01,chocolate,1,목요일,0,14,chocolate,0,0
3,1235,2015-01-01,sausage,1,목요일,0,19,sausage,0,0
4,1235,2015-01-01,sausage,1,목요일,0,19,sausage,0,0
...,...,...,...,...,...,...,...,...,...,...
5074,4678,2015-03-31,condensed milk,3,화요일,0,54,condensed milk,0,0
5075,4678,2015-03-31,pot plants,3,화요일,0,6,pot plants,0,0
5076,4678,2015-03-31,cling film/bags,3,화요일,0,85,cling film/bags,0,0
5077,4678,2015-03-31,soda,3,화요일,0,38,soda,0,0
5078,4678,2015-03-31,shopping bags,3,화요일,0,71,shopping bags,0,0

In [32]:
merge.columns

Index(['Member_number', 'Date', 'itemDescription', 'month', 'day', 'week',
       'prod_id', 'prod_nm', 'alcohol', 'frozen'],
      dtype='object')

In [35]:
# (5) 독립인 2 표본 t 검정 : 이분산(등분산 가정을 만족하지 않는다는 조건 하)
q2_tab = pd.pivot_table(merge,
                       index = 'Date',
                       columns = 'week',
                       values = 'alcohol',
                       aggfunc = 'sum')
q2_tab

week          0    1
Date
2015-01-01  4.0  NaN
2015-01-02  NaN  3.0
2015-01-03  NaN  2.0
2015-01-04  4.0  NaN
2015-01-05  5.0  NaN
...         ...  ...
2015-03-27  NaN  5.0
2015-03-28  NaN  2.0
2015-03-29  5.0  NaN
2015-03-30  3.0  NaN
2015-03-31  4.0  NaN

[90 rows x 2 columns]

In [40]:
from scipy.stats import ttest_ind

q2_out = ttest_ind(q2_tab[0].dropna(), q2_tab[1].dropna(), equal_var = False)
q2_out

Ttest_indResult(statistic=2.335264239960428, pvalue=0.023062611047582393)

In [41]:
pvalue = q2_out.pvalue
pvalue # 정답 : 0.02

0.023062611047582393

In [44]:
# =============================================================================
# 3.(Dataset_05_Mart_POS.csv를 활용하여) 1년 동안 가장 많이 판매된 10개 상품을 주력
# 상품으로 설정하고 특정 요일에 프로모션을 진행할지 말지 결정하고자 한다. 먼저
# 요일을 선정하기 전에 일원 분산 분석을 통하여 요일별 주력 상품의 판매 개수의
# 평균이 유의미하게 차이가 나는지 알아보고자 한다. 이와 관련하여 일원 분산 분석을
# 실시하고 p-value를 기술하시오.
# - p-value는 반올림하여 소수점 둘째 자리까지 기술하시오. (답안 예시) 0.12
# 
# (참고)
# from statsmodels.formula.api import ols
# from statsmodels.stats.anova import anova_lm
# =============================================================================

# 1년 동안 가장 많이 판매된 10개 상품을 주력 상품으로 설정
top10 = pos.itemDescription.value_counts()
top10.nlargest(10)

whole milk          1464
other vegetables    1039
rolls/buns           879
sausage              744
soda                 737
yogurt               694
tropical fruit       668
root vegetables      592
citrus fruit         544
frankfurter          505
Name: itemDescription, dtype: int64

In [65]:
top10_list = top10.nlargest(10).index
top10_list

Index(['whole milk', 'other vegetables', 'rolls/buns', 'sausage', 'soda',
       'yogurt', 'tropical fruit', 'root vegetables', 'citrus fruit',
       'frankfurter'],
      dtype='object')

In [66]:
# (2) q2 데이터 활용해서 요일 활용 및 주력 상품 추출
q3 = q2[q2.itemDescription.isin(top10_list)]
q3

       Member_number        Date   itemDescription  month  day  week
3               1235  2015-01-01           sausage      1  목요일     0
4               1235  2015-01-01           sausage      1  목요일     0
7               1422  2015-01-01    tropical fruit      1  목요일     0
18              2641  2015-01-01  other vegetables      1  목요일     0
19              2768  2015-01-01    tropical fruit      1  목요일     0
...              ...         ...               ...    ...  ...   ...
20461           2997  2015-12-30    tropical fruit     12  수요일     0
20462           2997  2015-12-30       frankfurter     12  수요일     0
20466           2997  2015-12-30        whole milk     12  수요일     0
20473           3562  2015-12-30        rolls/buns     12  수요일     0
20474           3579  2015-12-30  other vegetables     12  수요일     0

[7866 rows x 6 columns]

In [67]:
q3.columns

Index(['Member_number', 'Date', 'itemDescription', 'month', 'day', 'week'], dtype='object')

In [68]:
# (3) 피벗 테이플 작성 또는 함수를 뭘 사용하느냐에 따라 데이터셋 생성
q3_tab = pd.pivot_table(q3,
                       index=['Date', 'day'],
                       # columns 생략가능
                       values='itemDescription',
                       aggfunc = 'count')
q3_tab

                itemDescription
Date       day
2015-01-01 목요일               16
2015-01-02 금요일               13
2015-01-03 토요일               28
2015-01-04 일요일               21
2015-01-05 월요일               30
...                         ...
2015-12-26 토요일               11
2015-12-27 일요일               31
2015-12-28 월요일               21
2015-12-29 화요일               27
2015-12-30 수요일               18

[364 rows x 1 columns]

In [69]:
# (4) 분산분석 f_oneway(), ols

from statsmodels.formula.api import ols # 분산분석 진행
from statsmodels.stats.anova import anova_lm # 분산분석표

aov = ols('itemDescription~day', q3_tab).fit()
aov.summary()

print(anova_lm(aov))

q3_out = anova_lm(aov)
q3_out['PR(>F)'][0] # 정답 : 0.52

PatsyError: Error evaluating factor: NameError: name 'day' is not defined
    itemDescription~day
                    ^^^

In [70]:
from statsmodels.stats.multicomp import pairwise_tukeyhsd # 사후분석

comp = pairwise_tukeyhsd(q3_tab.itemDescription, q3_tab.day)
print(comp)

AttributeError: 'DataFrame' object has no attribute 'day'