In [2]:
import pandas as pd
import numpy as np
import urllib3
import json
import sys

언어 분석 기술 문어/구어 중 한가지만 선택해 사용

In [3]:
## 언어 분석 기술(문어)
openApiURL = "http://aiopen.etri.re.kr:8000/WiseNLU" 

## 언어 분석 기술(구어)
openApiURL = "http://aiopen.etri.re.kr:8000/WiseNLU_spoken"

인증키 및 분석 코드 요청

In [4]:
accessKey = "fdf16766-d73d-48be-a4b3-c03276a6cfb2"  # 발급받은 개인 API key 
analysisCode = "ner"    # 언어분석코드, ner=>객체명 인식

사용자 텍스트 입력

In [60]:
f=open("c:/pydata/2021_신년사.txt")

text=""
txt=f.readlines()
for t in txt:
    if len(t)!=1:
        text += t
f.close

#print(text)

키 인증 및 테스트를 이용한 개체명 요청

In [61]:
requestJson = {
    "access_key": accessKey,
    "argument": {
        "text": text,
        "analysis_code": analysisCode
    }
}

urllib3 모듈을 이용한 분석 결과 요청

In [62]:
http = urllib3.PoolManager()
response = http.request(
    "POST",
    openApiURL,
    headers={"Content-Type": "application/json; charset=UTF-8"},
    body=json.dumps(requestJson)
)

결과 확인
- 언어 분석 API 레퍼런스: https://aiopen.etri.re.kr/guide_wiseNLU.php 참조

In [63]:
## 요청 결과 확인
print(f'[responseCode] {response.status}')

[responseCode] 200

In [74]:
## 전체 결과 내용 확인
#json.loads(response.data)

In [71]:
### 객체명에 해당하는 값 가져오기
json_data=json.loads(response.data)

prn_data=[]
for obj in json_data["return_object"]["sentence"]:
    for dic in obj["NE"]:
        prn_data.append(dic)
        
df1=pd.DataFrame(prn_data)
df1

      id   text         type  begin  end    weight  common_noun
0    0.0     국민  CV_POSITION    3.0  3.0  0.206237          0.0
1    0.0    신축년      DT_YEAR    0.0  1.0  0.164352          0.0
2    1.0     새해      DT_YEAR    2.0  2.0  0.209563          0.0
3    0.0     새해      DT_YEAR    0.0  0.0  0.382773          0.0
4    1.0     새해      DT_YEAR    2.0  2.0  0.449926          0.0
..   ...    ...          ...    ...  ...       ...          ...
277  1.0    코리아  LCP_COUNTRY    6.0  6.0  0.191505          0.0
278  0.0    지난해      DT_YEAR    0.0  0.0  0.361061          0.0
279  1.0   대한민국  LCP_COUNTRY    9.0  9.0  0.352682          0.0
280  0.0  2021년      DT_YEAR    0.0  1.0  0.591335          0.0
281  1.0     올해      DT_YEAR    2.0  2.0  0.194466          0.0

[282 rows x 7 columns]

In [72]:
### 형태소에 해당하는 값 가져오기
json_data=json.loads(response.data)

prn_data=[]

for obj in json_data["return_object"]["sentence"]:
    for dic in obj["morp"]:
        prn_data.append(dic)
        
df1=pd.DataFrame(prn_data)
df1

        id lemma type  position    weight
0      0.0    존경  NNG       0.0  0.053573
1      1.0     하  XSV       6.0  0.053573
2      2.0     는  ETM       9.0  0.075712
3      3.0    국민  NNG      13.0  0.113873
4      4.0   여러분   NP      20.0  0.062886
...    ...   ...  ...       ...       ...
4282  19.0     .   SF   19815.0  1.000000
4283   0.0    감사  NNG   19816.0  0.040890
4284   1.0     하  XSV   19822.0  0.028991
4285   2.0   ㅂ니다   EF   19822.0  0.054410
4286   3.0     .   SF   19831.0  1.000000

[4287 rows x 5 columns]

In [75]:
### 워드에 해당하는 값 가져오기
json_data=json.loads(response.data)

prn_data=[]

for obj in json_data["return_object"]["sentence"]:
    for dic in obj["word"]:
        prn_data.append(dic)
        
#prn_data